################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/bin/
/obj/
/EmployeeManagementSystem/bin/
/EmployeeManagementSystem/obj/
