<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="card-header">
      <mat-card-title >Welcome Back</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form
        class="login-form"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
      >
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

       <mat-form-field appearance="fill" class="full-width custom-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="login-btn"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

